h1{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font: SF Pro;
}

\@font-face { font-family: Lato-Regular; src: url('Lato-Regular.ttf'); } 
\@font-face { font-family: Lato-Bold; src: url('Lato-Bold.ttf'); } 
\@font-face { font-family: Lato-Black; src: url('Lato-Black.ttf'); } 

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: Nunito Sans, sans-serif;
        color: #181919;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        font-size: 22px;


}
div.title{
    text-align: center;
    padding: 3px;
}

.img {
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    width: 70%;
  }

  #box1{
	width:268px;
	height:258px;
	margin-top:50px;
    margin-left: 150px;
    margin-right: 0px;
	padding:10px;
    position: relative;
    padding-top: 20px;
    
    background-color: #D3FAEE;
    border-radius: 12px;
    align-items: center;
}
.box{
    width: 400px;
}
#box2{
    margin: auto;

  
    padding: 10px;
    width:268px;
	height:258px;
	margin-top:-205px;
    margin-left: 420px;
    margin-right: 2px;
	padding:10px;
    position: relative;
    padding-top: 20px;

    background-color: #D3FAEE;
    border-radius: 12px;
    align-items: center;
}

#box3{
    width:268px;
	height:258px;
	margin-top:-205px;
    margin-left: 420px;
    margin-right: 2px;
	padding:10px;
    position: relative;
    padding-top: 20px;

    background-color: #D3FAEE;
    border-radius: 12px;
    align-items: center;
}
 h2{
     color: Black;
     text-align: center;
     padding-top: 50px;
     font-size: 27px;
     
     
 }
  .whorwe{

  }
 h3{
    color: rgb(46, 183, 207);
    text-align: center;
    padding-top: 20px;
    font-size: 27px;
    
}

.about-us{
    padding-top: 50px;
    padding-left: 200px;
}
.btn-link2 {
    display: inline-block;
    color: white;
    background-color: transparent;
    font-weight: 40;
    padding-top: 50px;
    padding-left: 1000px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 20rem;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-link2:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    color: rgb(180, 180, 180);
}
.ourstory{

    padding-top: 50px;
    padding-left: 400px;
}

.help{
    padding-top: 50px;
    padding-left: 220px;
}

.contact{
    padding-top: 50px;
    padding-left: 500px;
}
.termsofservice{

}
.privacypolicy{

}
h4{
    font-size: 17px; 
    color: white; 
    font-weight: 10;
    display: flex; 
    padding-top: 68px;
    justify-content: center;
}

.h3part2{
    padding-bottom: 55px;
}

.btn-primary{
    font-size: 28px;
    font-weight: 30;
    background-color: rgb(94, 37, 228);
    border-color: rgb(94, 37, 228);
}

.btn-primary-math{
    font-size: 28px;
    font-weight: 30;
    color: white;
    background-color: rgb(94, 37, 228);
    border-color: rgb(94, 37, 228);
}
body{

    background-color: rgb(255, 255, 255);
}

.footer {
    position: relative;
    width:100%;
    bottom: 0px;
    height:280px;   /* Height of the footer */
    background: rgb(211, 250, 238);


}
.footer-wrapper_links{
    margin-top: 20px;
    padding-top: 40px;

}
.footer-wrapper_links-list{
    margin-left: 30px;
 
}


li{
    list-style: none;
}

 .btn-link{
    color: white;
    font-size: 20px;

 }
 .btn-link:hover{
     color: rgb(180, 180, 180);
 }
.btn-primary-math:hover {
    color: white;
    background-color: #0069d9;
    border-color: #0062cc;
}

.math-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.btn-primary2{
    font-size: 27px;
    font-weight: 30;
    color: white;
    background-color: rgb(72, 70, 223);
    border-color: rgb(72, 70, 223);
}

.btn-primary2:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary3{
    font-size: 27px;
    font-weight: 30;
    color: white;
    background-color: rgb(40, 116, 204);
    border-color: rgb(40, 116, 204);
}

.btn-primary3:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary4{
    font-size: 27px;
    font-weight: 30;
    color: white;
    background-color: rgb(47, 161, 206);
    border-color: rgb(47, 161, 206);
}

.btn-primary4:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary5{
    font-size: 27px;
    font-weight: 30;
    color: white;
    background-color: rgb(47, 190, 180);
    border-color: rgb(47, 190, 180);
}

.btn-primary5:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


div.body{
    padding-left: 150px;
}

div.body2{
    padding-left: 150px;
    padding-top: 20px;
}

div.body3{
    padding-left: 150px;
    padding-top: 20px;
}

main{
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(255, 255, 255);
  }










  @font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-Light-29fb8b9658ff2ad79baac247b2fb3a1080dc8914011502e95d76c275317b63d1.ttf);
    font-style: normal;
    font-weight:300
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-LightItalic-a367feffdb152c82cb755e67eb83bc0da9ffb0aff8d314745ba614f6260cd53b.ttf);
    font-style: italic;
    font-weight:300
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-Regular-13ad641781e6dd5f2134fcfc9b1589e3c66902b69ccbb68b74d3bd139c1e324e.ttf);
    font-style: normal;
    font-weight:normal
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-Italic-d0d28fad631fa62aee695e7cf518ff51db82534b0414daa21d118a0377739844.ttf);
    font-style: italic;
    font-weight:normal
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-SemiBold-895ff0e2417ed01ec6a7baf58ffc7e14b566953caebcb00253da28101bd4d23c.ttf);
    font-style: normal;
    font-weight:600
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-SemiBoldItalic-5b091028cd84b3ffa936b98e832378cdf577c19ca3a52ea59081c9daaeabede0.ttf);
    font-style: italic;
    font-weight:600
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-Bold-c571ae34f387c9b81381036896ea4f6c438f76282846bd3f0ebe159bb510018d.ttf);
    font-style: normal;
    font-weight:bold
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-BoldItalic-26ddab31ce65753c54d6d11090c93d8205c4332a6a226db2c59503cf64da103c.ttf);
    font-style: italic;
    font-weight:bold
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-ExtraBold-542d03237568982513ab4ba62f156d113a06a70dc0ac98e757de8ffa238dad07.ttf);
    font-style: normal;
    font-weight:800
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-ExtraBoldItalic-629c25fcb019c2dfe696f9456a12366169f5ba24673c4097107bfe156c9ebd60.ttf);
    font-style: italic;
    font-weight:800
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-Black-884d7f6514648007fd6885c98c7024e3c112ad81ac6fbdd18b8e159e5f0f56c5.ttf);
    font-style: normal;
    font-weight:900
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(https://assets.litcharts.com/assets/NunitoSans-BlackItalic-04cb703d939fb7479b8d03680857c3128c588dad5169a876f388282caed5c34e.ttf);
    font-style: italic;
    font-weight:900
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-Light_Web-d6b10550d417a52e0b5ffb8dea13e49f4a7228c5af1256a2621cc3c37bf7ae9b.woff);
    font-style: normal;
    font-weight:300
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-LightItalic_Web-44e261584b6543bb92dd8804f7df7a78ee3679826e54167579c4f318059b4d85.woff);
    font-style: italic;
    font-weight:300
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-Medium_Web-550a5ad2d672938f496c82b2b35339ddc3bea11c2efd5cd8557c43449527c59d.woff);
    font-style: normal;
    font-weight:normal
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-MediumItalic_Web-21cc7d872cc7f893790b7c5df70a94c49e3a088bd27ca607c98f74048f99d818.woff);
    font-style: italic;
    font-weight:normal
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-Bold_Web-917e874859bcaadbc84d2b3c3ab11f7c44e9f7b0bf478b045778dd752fa41e43.woff);
    font-style: normal;
    font-weight:bold
}

@font-face {
    font-family: 'Mercury Text SSm';
    src: url(https://assets.litcharts.com/assets/MercurySSm-BoldItalic_Web-95cdace3e04e4653df8ec36b34a5a4c4594f0a6cf69ae03221c29a44ad3a7b00.woff);
    font-style: italic;
    font-weight:bold
}

@media screen {
    .body-2 {
        font-family: Nunito Sans, sans-serif;
        display:flex;
        color: #181919;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 28px;

        text-align: center;
    }

    .main{
        font-family: Nunito Sans, sans-serif;
        display:flex;
        color: #181919;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 28px;
        
    
        text-align: center;

    
    }

    .main-inside{
        background-image: url(https://assets.litcharts.com/assets/home/hero-lg-transparent-2f097af5a9144334175109b8c4b8986406c2294a11c95ca5501022228e345bf9.png);
        background-size: contain;
        background-repeat:no-repeat;
        height:450px;
        width:1296px;
        justify-content: center;
        display:flex;
  
        margin-left: auto;
        margin-right: auto;
   
    }
}

.row{

    box-shadow: 20px 2px 50px 10px 20px black;
}

.FoldersButton{

    display: block;
    justify-content: left;
    text-align: left;
    padding: 15px 20px 15px 50px;
    text-decoration: none;
    color: #000;
    width: 100%;
    background: url(images/folder.png) no-repeat 10px 10px;
    background-size: 30px 36px
 
}

.row{

    width:90%;
    height: auto !important;
    margin: auto;

    display: flex;
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 65% auto;
    grid-template-areas:
        'left clockdiv'
}

.left{
    grid-area: left;

}

.clockdiv{
    grid-area: clockdiv;
}

.listtitle {
    font-weight: 600;
    padding: 15px;
    text-align: left;
    background-color: #eee;
    border-radius: 15px 15px 0 0 ;
    width:100%;
}

p{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight:normal
}

span{
    font-family: Nunito Sans !important;
    font-style: normal;
    font-weight:normal
}

.FoldersButton.solid {border-style: solid;}

a{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight:500;
    font-size:  20px;
}
a:hover{
    transition: 0.1s;
    color: rgb(0, 202, 94) !important;
    text-decoration: underline !important;

}
